$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-neutral:                     #f1f1f1;
$color-violet:                      #9400D3;
$color-gray:                        #999999;
$linear-gradient:                   linear-gradient(45deg,  #f8f9fc, #b6bdcc);

$trans-default: 0.3s ease;

$ff-roboto:                        "Roboto Condensed", "Arial", sans-serif;

$vp-768:                            768px;
$vp-1200:                           1200px;

$retina-dpi:                        192dpi;
$retina-dppx:                       2dppx;
